<div class="container container_main">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div>
      <div class="form-group">
        <label for="name">Email</label>
        <input
          formControlName="email"
          id="name"
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': form.get('email').invalid && form.get('email').touched, 'is-valid': form.get('email').valid && form.get('email').touched}"
        >
        <p *ngIf="form.get('email').invalid && form.get('email').touched" class="invalid-feedback">Введен некорректный адрес электронной почты!</p>
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control"
          [ngClass]="{'is-invalid': form.get('password').invalid && form.get('password').touched,
          'is-valid': form.get('password').valid && form.get('password').touched
          }"
        >
        <p *ngIf="form.get('password').invalid && form.get('password').touched" class="invalid-feedback">Пароль не должен быть пустым!</p>
      </div>
    </div>
    <div class="form-group">
      <label>Выберите страну</label>
      <select
        formControlName="country"
        class="form-control"
      >
        <option value="ru">Россия</option>
        <option value="by">Белоруссия</option>
        <option value="ua">Украина</option>
      </select>
    </div>
    <div class="radio" *ngFor="let answer of answers">
      <label>
        <input
          formControlName="answer"
          type="radio"
          [value]="answer.type"
        > {{answer.text}}
      </label>
    </div>
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!form.valid"
    >Сохранить
    </button>
  </form>
</div>
