<div class="container container_main">
  <input type="text" [(ngModel)]="carName" class="form-control">
  <hr>
  <button class="btn btn-primary" (click)="getData()">Загрузить машины</button>
  <button class="btn btn-success" (click)="addCar()">Добавить машину</button>
  <hr>
  <ul class="list-group">
    <li
      *ngFor="let car of cars"
      class="list-group-item d-flex justify-content-between"
    >
      <button (click)="toChangeRandomColor(car)" class="btn btn-sm btn-info">изменить цвет</button>
      <button (click)="deleteCar(car)" class="btn btn-sm btn-danger">Удалить машину</button>
      {{car.name}}

      <span class="badge" [ngStyle]="{'background': car.color}">{{car.id}}</span>
    </li>
  </ul>
</div>
